.left{
  padding: 30px;
  overflow-y: scroll;
  height: 99vh;
  margin-bottom: 30px;
  padding-bottom: 25px;
}
/* Light theme. */
:root {
  --color-canvas-default: #ffffff;
  --color-canvas-subtle: #f6f8fa;
  --color-border-default: #d0d7de;
  --color-border-muted: hsla(210, 18%, 87%, 1);
}

/* Dark theme. */
@media (prefers-color-scheme: dark) {
  :root {
    --color-canvas-default: #0d1117;
    --color-canvas-subtle: #161b22;
    --color-border-default: #30363d;
    --color-border-muted: #21262d;
  }
}
table {
  border-collapse: collapse;
  width: 100%;
}
th, td {
  padding: 8px;
  text-align: left;
  border-left:1px solid #0d1117;
  border-right: 1px solid #0d1117;
}
th {
  background-color: #f2f2f2;
  border-bottom:1px solid #0d1117; 
  border-top:1px solid #0d1117;
}
td {
  border-top: none; /* No border on top */
}
tr:last-child td {
  border-bottom: 1px solid black; /* Border on bottom */
}
blockquote {
  padding: 0 15px;
  font-style: italic;
  border-radius: 2px;
  border:1px;
  background-color: #ccd0d6;
  width: fit-content;
}